<div class="notes">

  {% if site.enable_notes_thumbnails %}
  <ul class="notes_list" style="list-style: none; padding: 0; margin-top: 0;">
  {% else %}
  <ul class="notes_list">
  {% endif %}

    {% for note in site.data.notes.main %}

    <li>
      <div class="note-row">
        {% if site.enable_notes_thumbnails %}
        <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
          {% if note.image %}
          <img src="{{ note.image }}" class="teaser img-fluid z-depth-1">
          {% else %}
          <div class="teaser" style="box-shadow: none;">
          </div>
          {% endif %}
        </div>
        {% endif %}
        <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
          <div class="title">
            {% if note.link %}
            <a href="{{ note.link }}">{{ note.title }}</a>
            {% else %}
            {{ note.title }}
            {% endif %}
            {% if note.venue %}
            &ZeroWidthSpace;, {{ note.venue }}
            {% endif %}
            {% if note.date %}
            &ZeroWidthSpace;, {{ note.date }}
            {% endif %}
          </div>
          <!-- <div class="author">{{ note.authors }}</div>
          <div class="periodical"><em>{{ note.conference }}</em></div> -->
          <div class="links">
            {% if note.pdf %}
            <a href="{{ note.pdf }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">PDF</a>
            {% endif %}
            {% if note.slides %}
            <a href="{{ note.slides }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">Slides</a>
            {% endif %}
            {% if note.poster %}
            <a href="{{ note.poster }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">Poster</a>
            {% endif %}
            {% if note.arxiv %}
            <a href="{{ note.arxiv }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">arXiv</a>
            {% endif %}
            {% if note.code %}
            <a href="{{ note.code }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">Code</a>
            {% endif %}
            {% if note.page %}
            <a href="{{ note.page }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">Project Page</a>
            {% endif %}
            {% if note.notes %}
            <strong> <i style="color:#e74d3c">{{ note.notes }}</i></strong>
            {% endif %}
            {% if note.others %}
            {{ note.others }}
            {% endif %}
          </div>
        </div>
      </div>
    </li>
    <br>

    {% endfor %}

  </ul>
</div>