<div class="publications">

  {% if site.enable_publication_thumbnails %}
  <ol class="bibliography">
  {% else %}
  <ol class="bibliography" style="list-style: decimal; padding: revert;" reversed>
  {% endif %}

    {% for pub in site.data.publications.main %}

    <li>
      <div class="pub-row">
        {% if site.enable_publication_thumbnails %}
        <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
          {% if pub.image %}
          <img src="{{ pub.image }}" class="teaser img-fluid z-depth-1">
          {% if pub.journal_short %}
          <abbr class="badge">{{ pub.journal_short }}</abbr>
          {% endif %}
          {% else %}
          <div class="teaser" style="box-shadow: none;">
            {% if pub.journal_short %}
            <abbr class="badge" style="margin-top: 10%;">{{ pub.journal_short }}</abbr>
            {% endif %}
          </div>
          {% endif %}
        </div>
        {% endif %}
        <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
          {% if pub.link %}
          <div class="title"><a href="{{ pub.link }}">{{ pub.title }}</a></div>
          {% else %}
          <div class="title">{{ pub.title }}</div>
          {% endif %}
          <div class="author">{{ pub.authors }}</div>
          <div class="periodical">
            <em>{{ pub.journal }}</em>
            {% if pub.year %}
            ({{ pub.year }})
            {% endif %}
          </div>
          <div class="links">
            {% if pub.pdf %}
            <a href="{{ pub.pdf }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">PDF</a>
            {% endif %}
            {% if pub.arxiv %}
            <a href="{{ pub.arxiv }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">arXiv</a>
            {% endif %}
            {% if pub.bibtex %}
            <a href="{{ pub.bibtex }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">BibTex</a>
            {% endif %}
            {% if pub.page %}
            <a href="{{ pub.page }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">Project Page</a>
            {% endif %}
            {% if pub.code %}
            <a href="{{ pub.code }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">Code</a>
            {% endif %}
            {% if pub.demo %}
            <a href="{{ pub.demo }}" class="btn btn-sm z-depth-0" role="button" target="_blank"
              style="font-size:12px;">Demo</a>
            {% endif %}
            {% if pub.notes %}
            <strong> <i style="color:#e74d3c">{{ pub.notes }}</i></strong>
            {% endif %}
            {% if pub.others %}
            {{ pub.others }}
            {% endif %}
          </div>
        </div>
      </div>
    </li>
    <br>

    {% endfor %}

  </ol>
</div>