<div class="publications research-projects">

  <ol class="bibliography" style="list-style: decimal; padding: revert;">

    {% for project in site.data.research-projects.main %}

    <li>
      <div class="pub-row">
        <div class="col-sm-12" style="position: relative;padding-right: 15px;padding-left: 20px;">

          <div class="title">
            {% if project.link %}
            <a href="{{ project.link }}">{{ project.title }}</a>
            {% else %}
            {{ project.title }}
            {% endif %}
          </div>

          <div class="funding">
            {% if project.funding_program %}{{ project.funding_program }}{% endif %}{% if project.funding_agency %}{% if project.funding_program %}, {% endif %}{{ project.funding_agency }}{% endif %}
          </div>

          {% if project.project_number %}
          <div class="project-number">
            Grant number: {{ project.project_number }}
          </div>
          {% endif %}

          {% if project.period %}
          <div class="period">
            {{ project.period }}
          </div>
          {% endif %}

        </div>
      </div>
    </li>

    {% endfor %}

  </ol>

</div>
