@import 'minimal-light-no-dark-mode';   


@media (prefers-color-scheme: dark) {
  .social-icons a {
    color: #3eb7f0 !important;
  }
}

@media (prefers-color-scheme: dark) {
  .social-icons a:last-child {
    margin-right: 0
  }

  .social-icons a:hover {
    background-color: #20212b;
    color: black;
    transform: scale(1.2)
  }

  /*
    .social-icons a:after {
        content: '';
        display: block;
        margin: 0px;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
    .social-icons a:hover:after {
        width: 100%;
        background: #a0b0ff;
      }
    */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #20212b;
    color: #dadbdf;
  }

  autocolor {
    color: #dadbdf;
  }

  lightonly {
    visibility: hidden;
  }

  darkonly {
    visibility: visible;
  }

  papertitle {
    color: #eeeff0;
  }

}


@media (prefers-color-scheme: dark) {

  h1,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(62, 183, 240);
  }

  h2 {
    color: rgb(62, 183, 240);
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: rgb(62, 183, 240);
  }
}

@media (prefers-color-scheme: dark) {
  th {
    color: rgb(62, 183, 240);
  }

  dt {
    color: rgb(62, 183, 240);
  }
}

@media (prefers-color-scheme: dark) {
  strong {
    color: #eeeff0;
  }
}

